{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
<br>
<div class="container">
    <h1>{{ page.title }} de películas</h1>
<hr>
<p><a href="?decada=90">Década de los 90</a></p>
<p><a href="?genero=drama">Drama</a></p>
<hr>
    <ul class="list-group">
        {% for p in peliculas %} 
        <div class="container">
            <div class="row">
                <div  class="col-sm-2">☆ {{ p.rating }}</div>
                <div  class="col-sm-2">{{ p.title }}</div>
                <div  class="col-sm-3">{{ p.cast }}</div>
                <div  class="col-sm-3">{{ p.year }}</div>
                <div  class="col-sm-2"><img href="{{ p.imagen }}"></div>
            </div>
        </div><br>
        {% endfor %}
</ul>
<br>
{% if peliculas.paginator.count > 1 %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                {% include "includes/pagination.html" with subpages=peliculas %}
                </div>
            </div>
        </div>
    {% endif %}
    <p><a href="{{ page.get_parent.url }}">Volver al blog</a></p>
</div>
{% endblock %}