{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<div class="container mt-5">
{{page.body | richtext}}

<br>
<div>
    <h3>Últimas noticias</h3>
    {% for noticia in noticias %}
        <h5>︽ <a href="//localhost:8000/noticias-pel%C3%ADculas/" + noticias.title.replace(' ', '-').lower()>{{ noticia.title }}:</a></h5> 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ noticia.intro}}
        <br>
        <br>
    {% endfor %}
</div>


</div>
<br>
<br>
{% endblock content %}
