<style>
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(69, 1, 100);
}

li.menu {
    float: left;
}

li.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.menu a:hover {
    background-color: rgb(46, 4, 66);
}
</style>

<nav>
<ul class="navbar">
    <li class="menu"><a href="//localhost:8000/">Índice</a></li>
    <li class="menu"><a href="//localhost:8000/listado-pelis/">Listado pelis</a></li>
    <li class="menu"><a href="//localhost:8000/#">Noticias</a></li>
    <li class="menu"><a href="//localhost:8000/#/">Agenda cultural</a></li>
    <li class="menu"><a href="//localhost:8000/viajes/">Viajes</a></li>
    <li class="menu"><a href="//localhost:8000/p%C3%A1gina-de-contacto">Contacto</a></li>
</ul>
</nav>